@import 'variables/_colors';
%white-text {
  color: white;
}

.footer {
  align-items: center;
  background-color: $cerulean;
  display: flex;
  flex-direction: column;
  height: 180px;
  padding: 40px 20px;
}

.game-changers-text {
  @extend %white-text;
  $text-size: 20px;
  font-size: $text-size;
  line-height: $text-size+3;
}

.wolox-text {
  @extend %white-text;
  $text-size: 70px;
  font-size: $text-size;
  line-height: $text-size;
  margin: 10px;
}

.copyright {
  @extend %white-text;
  align-self: flex-end;
}
