@import 'variables/colors';
@import 'variables/sizes';
%white-text {
  color: white;
}

.footer {
  align-items: center;
  background-color: $cerulean;
  display: flex;
  grid-area: footer;
  flex-direction: column;
  height: 180px;
  padding: 40px 20px;
}

.game-changers-text {
  @extend %white-text;
  font-size: $game-changers-font-size;
  line-height: $game-changers-font-size + 3;
}

.wolox-text {
  @extend %white-text;
  font-size: $footer-wolox-font-size;
  line-height: $footer-wolox-font-size + 5;
  margin: 10px;
}

.copyright {
  @extend %white-text;
  @media only screen and (min-width: $mobile-width-breakpoint){
    align-self: flex-end;
  }
}
