@import 'colors';
@mixin white-text {
  color: white;
}

.footer {
  align-items: center;
  background-color: $cerulean;
  display: flex;
  grid-area: footer;
  flex-direction: column;
  height: 180px;
  padding: 40px 20px;

  .game-changers-text {
    @include white-text;
    $text-size: 20px;
    font-size: $text-size;
    line-height: $text-size;
  }

  .wolox-text {
    @include white-text;
    $text-size: 70px;
    font-size: $text-size;
    line-height: $text-size;
    margin: 10px;
  }

  .copyright {
    @include white-text;
    align-self: flex-end;
  }
}
