@import 'colors';
@mixin round-container {
  border-radius: 10px;
  height: 410px;
  width: 280px;
}
$background-offset: 20px;

.content {
  padding: 100px 150px;
}

.background {
  @include round-container;
  border-color: $earls-green;
  border-style: solid;
  left: $background-offset;
  position: absolute;
  top: $background-offset;
  transition: left 0.4s ease, top 0.4s ease;

  &:hover {
    left: 2 * $background-offset;
    top: 2 * $background-offset;
  }
}

.tech-container {
  position: relative;
}

.tech {
  @include round-container;
  align-items: center;
  background-color: $earls-green;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 30px;
  padding: 10px 20px;

  .separated {
    margin: 10px;
  }

  .tech-text {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .release-date {
    font-weight: bold;
  }

  .image-container {
    align-items: center;
    display: flex;
    height: 120px;
    justify-content: center;
    width: 135px;

    .image {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.techs{
  display: flex;
  flex-wrap: wrap;
  padding: 0 75px 100px;
}
