@import 'colors';

.layout {
  display: grid;
  grid-gap: 40px 0px;
  grid-template-columns: 1fr auto 2fr;
  grid-template-areas: 
    "navbar navbar navbar"
    "...... category ......"
    "...... category ......"
    "footer footer footer";
  grid-template-rows: repeat(4,auto);
}

.category {
  display: grid;
  grid-area: category;
  grid-row: span 1;
  grid-template-areas: 
    "title ....."
    "..... techs";
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2,auto);
}

.techs {
  display: grid;
  grid-area: techs;
  grid-gap: 10px 10px;
  grid-template-areas: 
    "main other other"
    "main other other";
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(2,auto);
}

.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 410px;
  justify-content: center;
  width: 280px;

  .separated {
    margin: 10px;
  }

  .tech-text {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .release-date {
    font-weight: bold;
  }

  .image-container {
    align-items: center;
    display: flex;
    height: 120px;
    justify-content: center;
    width: 135px;

    .image {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &:first-child {
    border-right: 2px solid $earls-green;
    grid-area: main;
    grid-row: span 2;
    height: 100%;
  }

  &:not(:first-child) {
    grid-area: other;
    grid-column: span 1;
    grid-row: span 1;
  }
}
