@import 'variables/colors';
@import 'variables/sizes';
%round-container {
  border-radius: 10px;
  height: 460px;
  width: 280px;
}
@mixin background-div($offset) {
  @extend %round-container;
  border-color: $earls-green;
  border-style: solid;
  content: "";    
  left: - $offset;
  position: absolute;    
  top: - $offset;
  transition: left 0.4s ease, top 0.4s ease;
}

.content {
  padding: 100px 150px;
}

.tech {
  @extend %round-container;
  $background-offset: 20px;
  align-items: center;
  background-color: $earls-green;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 30px;
  padding: 10px 20px;
  position: relative;

  .separated {
    margin: 10px;
  }

  .tech-text {
    font-size: $tech-font-size;
    line-height: $tech-font-size + 3;
    text-align: center;
  }

  .release-date {
    font-weight: bold;
  }

  .image-container {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 135px;

    .image {
      max-height: 100%;
      max-width: 100%;
    }
  }
  
  &:before {
    @include background-div($background-offset);
  }
  
  &:hover {
    &:before {
      @include background-div(-$background-offset);
    }
  }

}

.techs{
  display: flex;
  flex-wrap: wrap;
  padding: 0 75px 100px;
}
