.title {
  align-items: center;
  display: inline-flex;
  grid-area: title;

  h1 {
    font-size: 30px;
    position: relative;
    right: 20px;
    white-space: nowrap;
  }
}

.title-image {
  max-width: 100px;
}
