@import '../../../../app';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 694px;
  height: 692px;
}

.title {
  font-family: Roboto-Bold;
  font-size: 20px;
  color: $tundora;
  line-height: 19px;
  margin-bottom: 19px;
  font-weight: bold;
}

.label {
  font-family: Roboto-Regular;
  font-size: 12px;
  color: $tundora;
  letter-spacing: 0px;
  line-height: 19px;
  margin: 0 0 10px 80px;
  align-self: flex-start;
}

.input {
  @extend %input-styles;

  width: 541px;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 20px;

  &.error {
    border: 1px solid #ff233e;
  }
}

.login-button {
  background: $cerulean;
  width: 175px;
  height: 38px;
  font-family: Roboto-Bold;
  font-size: 14px;
  color: $white;
  line-height: 19px;
  font-weight: bold;
  margin-top: 50px;
}

.error-message {
  font-family: Roboto-Regular;
  font-size: 10px;
  color: #ff233e;
  letter-spacing: 0px;
  line-height: 19px;
  align-self: flex-start;
  margin-left: 80px;
}
