$wild-sand: #f4f4f4;
$dusty-gray: #9b9b9b;
$atlantis: #a5cd39;
$alto: #d8d8d8;
$tundora: #4a4a4a;
$white: #fff;
$soft-bold-gray: #999;
$soft-soft-gray: #979797;
$cerulean: #00adee;
$cinnabar: #e93939;
