@import '../../../../../../constants/colors';
%book-details {
  letter-spacing: 0px;
  line-height: 19px;
}

.book {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
}

.backgroundgray {
  background: $alto;
}

.book-image-container {
  width: 128px;
  height: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-image {
  border: 3px solid $shady-lady;
  width: 69px;
  height: 69px;
  border-radius: 100%;
}

.book-image {
  max-width: 100%;
  max-height: 100%;
}

.book-title {
  @extend %book-details;

  font-family: Roboto-Bold;
  font-size: 14px;
  color: $black;
  text-align: center;
  margin-top: 11px;
  font-weight: bold;
}

.book-author {
  @extend %book-details;

  font-family: Roboto-Regular;
  font-size: 12px;
  color: $tundora;
}
