.suggestions {
  display: flex;

  .cover-container {
    margin-left: 54px;
  }
}

.suggestions-title {
  font-family: Roboto-Bold;
  font-size: 20px;
  color: #a5cd39;
  line-height: 19px;
  text-align: center;
  font-weight: bold;
}

.suggestions-container {
  width: 100%;
}
