@import '../../../../../../constants/colors';
@import '../../shared/styles';

.suggestions {
  display: flex;

  .cover-container {
    margin-left: 54px;
  }
}

.suggestions-title {
  font-family: Roboto-Bold;
  font-size: 20px;
  color: #a5cd39;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 16px;
}

.suggestions-container {
  @extend %separated;
  width: 100%;
  display: flex;
  flex-direction: column;
}
