.comment-input {
  border: 1px solid #979797;
  width: 665px;
  height: 73px;
  margin-bottom: 15px;
  resize: none;
}

.add-comment {
  font-family: Roboto-bold;
  font-size: 14px;
  color: #4a4a4a;
  letter-spacing: 0px;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 15px;
}

.send-comment {
  background: #a5cd39;
  width: 192px;
  height: 38px;
  font-family: Roboto-Bold;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}
