@import 'constants/colors';

%input-styles {
  background: $wild-sand;
  border-style: none;
  color: $dusty-gray;
  font-family: Roboto-Italic;
  font-size: 14px;
  height: 38px;
  letter-spacing: 0px;
  width: 238px;
  padding: 9px 14px 10px 12px;
}
