.comment-container {
  display: flex;
  margin-left: 54px;
}

.comment-image {
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  margin-right: 16px;
}

.comment-info {
  display: flex;
  flex-direction: column;
}

.comment-name {
  font-family: Roboto-bold;
  font-size: 14px;
  color: #4a4a4a;
  letter-spacing: 0px;
  line-height: 19px;
  font-weight: bold;
}

.comment-date {
  font-family: Roboto-Regular;
  font-size: 12px;
  color: #4a4a4a;
  letter-spacing: 0px;
  line-height: 19px;
}

.comment-content {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #999999;
  line-height: 19px;
}
