@import '../../../../../constants/colors';
.cover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &.small {
    height: 182px;
    width: 128px;
  }

  &.big {
    height: 272px;
    width: 191px;
  }

  &.suggestion {
    height: 124px;
    width: 87px;
  }

  &.notification {
    height: 80px;
    width: 56px;
  }
}

.default-image {
  &.small {
    height: 75px;
    width: 75px;
  }

  &.big {
    height: 111px;
    width: 111px;
  }

  &.suggestion {
    height: 50px;
    width: 50px;
  }

  &.notification {
    height: 25px;
    width: 25px;
  }
}

.backgroundgray {
  background: $alto;
}

.book-image {
  max-width: 100%;
  max-height: 100%;
}
