@import "../../../../../app";

.search-container {
  display: flex;
}

.search {
  @extend %input-styles;

  &::placeholder {
    @extend %input-styles;

    font-style: italic;
    padding: 0;
  }
}

.search-image {
  background: #a5cd39;
  padding: 8px 6px 6px 8px;
}
